# Task 01:

# Difference B/w "==" & "=" Operators:

1-Equality Operator (==):

In [18]:
x = 5
y = 3 + 2
print(x == y,"Because they are equal.")  # This will print True because the values of x and y are equal.

True Because they are equal

2-Assignment Operator (=):

In [14]:
x = 5  # Assigning the value 5 to the variable x
x = 10 # Now here we change or assign new value to x
print ("Value of X is:",x)

Value of X is: 10

# Task 02:

# All Data Types

In [20]:
#Int Example
a = 15
b = 10
c = a+b

#String Example
R = "RAJA "
I = "IQBAL"
RI = R+I
print (RI)
print ("Sum of a+b = ",c)

#Float Exx = 5
y = 3 + 2
print(x == y,"Because they are equal.")  # This will print True because the values of x and y are equal.ample
x = 2.14
y = 3.45
z = x*y
print ("Product of x * y is:",z)

#Boolean Example
x = 5
y = 3 + 2
print(x == y,"Because they are equal.")  # This will print True because the values of x and y are equal.

#Complex Number Example
a = 25
b = 2j
j = 2
c = a*b*j
print (c)

RAJA IQBAL
Sum of a+b =  25
True Because they are equal.
Product of x * y is: 7.383000000000001
True Because they are equal.
100j

# Task 03:

# Rules for Variables


Python variable names can contain letters, digits, and underscores, but cannot start with a digit, contain spaces, or use reserved keywords. They are case-sensitive.

In [22]:
# Valid variable names
my_variable = 5
MyVariable = 10
_variable = 15
variable2 = 20
var_2 = 25
var_name_long = 30

# Invalid variable names
2variable = 35  # Error: starts with a digit
my variable = 40  # Error: contains a space
my-variable = 45  # Error: contains a hyphen
if = 50  # Error: reserved keyword

SyntaxError: invalid decimal literal (1879315132.py, line 10)

# Task 04:

# Same Varibale Diff Values ,Diff Variables Same Value

Multiple variables in a single line using Lists

In [27]:
List_1, List_2, List_3 = [11,22,33]
print ("Value of List 1 is:", List_1) 
print ("Value of List 2 is:", List_2) 
print ("Value of List 3 is:", List_3)

Value of List 1 is: 11
Value of List 2 is: 22
Value of List 3 is: 33

Same Varibale Differnt Values

In [29]:
Varibale = 'RAJA',21,18,'g',2.14,
print("Values of Same Varibale with Differnt Values is:",Varibale)

Values of Same Varibale with Differnt Values is: ('RAJA', 21, 18, 'g', 2.14)

Differnt Varibales Same Value

In [30]:
email = "raaja21g@gmail.com"

print('"RAJA  (Email) is:   "', email)
print('"RAJA  Email is:"      ', email)
print('"Raja Iqbal Email is:  "', email)
print('"Raja Personal Email is:"', email)

"RAJA  (Email) is:   " raaja21g@gmail.com
"RAJA  Email is:"       raaja21g@gmail.com
"Raja Iqbal Email is:  " raaja21g@gmail.com
"Raja Personal Email is:" raaja21g@gmail.com

# Task 05:

# Arithmetic Operations

1-Integer Operation

In [33]:
#Addition
a = 10
b = 20
c = a+b
print ("Sum of A & B is:",c)

#Multiplication
p = a*b
print ("Productof A & B is:",p)

#Division
d = a/b
print ("Division of A & B is:",d)

#Subtraction
s = a-b
print ("Difference of A & B is:",s)

Sum of A & B is: 30
Productof A & B is: 200
Division of A & B is: 0.5
Difference of A & B is: -10

2-Float Operations

In [36]:
#Addition
a = 10.37
b = 5.57
c = a+b
print ("Sum of A & B is:",c)

#Multiplication
p = a*b
print ("Productof A & B is:",p)

#Division
d = a/b
print ("Division of A & B is:",d)

#Subtraction
s = a-b
print ("Difference of A & B is:",s)

Sum of A & B is: 15.94
Productof A & B is: 57.7609
Division of A & B is: 1.8617594254937162
Difference of A & B is: 4.799999999999999

# Task 06:

# String Literal

In [37]:
# Using single quotes
string1 = 'RAJA IQBAL! This is a string using single quotes.'
print(string1)

# Using double quotes
string2 = "RAJA IQBAL! This is a string using double quotes."
print(string2)

# Using double quotes when the string contains a single quote
string3 = "RAJA IQBAL! He said, 'Hello!'"
print(string3)

# Using single quotes when the string contains double quotes
string4 = 'RAJA IQBAL! He said, "Hi!"'
print(string4)

RAJA IQBAL! This is a string using single quotes.
RAJA IQBAL! This is a string using double quotes.
RAJA IQBAL! He said, 'Hello!'
RAJA IQBAL! He said, "Hi!"

# Task 07:

# Print Function

In [38]:
# Example of using the print() function to output a variable
x = 10
print("The value of x is:", x)

# Example of outputting multiple variables with print()
y = 20
print("The values of x and y are:", x, "and", y)

# Example of using f-strings to format output
name = "RAJA IQBAL"
age = 19
print(f"My name is {name} and I am {age} years old.")

# Example of using f-strings to manipulate variables in output
a = 5
b = 7
print(f"The sum of {a} and {b} is {a + b}.")

The value of x is: 10
The values of x and y are: 10 and 20
My name is RAJA IQBAL and I am 19 years old.
The sum of 5 and 7 is 12.

# Others Practice

In [35]:
RAJA_AGE = 10
RAJA_Age = 20
RAJA_age = 30
print(RAJA_AGE)
print(RAJA_Age)
print(RAJA_age)
RAJA_AGE = 15
print (RAJA_AGE )

10
20
30
15

In [78]:
A = ' RAJA '
B = ' IQBAL'
C = A+B
print (C)
#If we use + then the differnce (,) between values of 2 variables were removed.

 RAJA  IQBAL

In [40]:
A = ' RAJA '
B = ' IQBAL'
C = A,B
print (C)
#If we use (,) then there is a differnce between values of 2 variables.

(' RAJA ', ' IQBAL')

In [41]:
#Input From User
Age = input("Please Enter your Age:")  
print (f"Raja Iqbal Age is: {Age}")

Please Enter your Age:20
Raja Iqbal Age is: 20